@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-hidden
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg shadow-sm;
  }
  [type='checkbox'] {
    @apply rounded border-gray-300;
  }
  [type='radio'] {
    @apply border-gray-300;
  }
}

.theme-light {
  --bg-background-primary: #d3d3d3;
  --bg-background-secondary: #fafafa;
  --bg-background-tertiary: #e2e8f0;

  --bg-background-form: white;

  --text-copy-primary: #565e6c;
  --text-copy-secondary: #424954;

  --text-copy-hover: #323a47;

  --border-border-color-primary: #e0e0e0;
  --border-border-color-secondary: #fafafa;
}

.theme-dark {
  --bg-background-primary: #0D2438;
  --bg-background-secondary: #102C44;
  --bg-background-tertiary: #1E3951;

  --bg-background-form: #1a202c;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #0D2438;

  --text-copy-hover: #698098;

  --border-border-color-primary: #0D2438;
  --border-border-color-secondary: #102C44;
}

.theme-dark nav .active {
  @apply border-white border-b;
}

.content-wrapper {
  transition: background-color .25s;
}

.content-wrapper > header,
.content-wrapper > main {
  background-color: var(--bg-background-primary);
}

.pop-area {
  max-height: calc(100vh - 100px);
}

.ltr-enter-active {
  animation: ltr-in .5s;
}

.ltr-leave-active {
  animation: ltr-in .5s reverse;
}

@keyframes ltr-in {
  0% { right: -100%; }
  100% { right: var(right-5); }
}

@-webkit-keyframes ltr-in {
  0% { right: -100%; }
  100% { right: var(right-5); }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.item-notification-enter-active,
.item-notification-leave-active {
  transition: all .5s ease;
}
.item-notification-enter-from,
.item-notification-leave-to {
  opacity: 0;
  transform: translateX(130px);
}

.item-notification-move {
  transition: transform .8s ease;
}

.router-link-active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--text-copy-primary);
  color: var(--text-copy-primary);
  transition: all .1s ease;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 100vh;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}